body {
  background-color: #b7d478;      
  font: normal 16px/165% candara, 'trebuchet-ms', sans-serif;
  margin: 0;
  overflow-y: scroll;
  padding: 0;
}

div, h1, h2, p, blockquote, pre, ol, ul, li {
  margin: 0;
  padding: 0;
}

li li {
  margin-left: 3em;
}

a {
  color: #39f;
}

a:hover {
  color: #f93;
}

body > header,
body > footer {
  background-color: #333;
  color: #b7d478;
  left: 0;
  padding: 6px;
  position: fixed;
  right: 0;
}

body > header {
  height: 35px;
  top: 0;
}

body > header h1,
body > header h2 {
  margin: 0;
  padding: 5px;
  text-shadow: 0 0 3px rgba(183,212,120,0.7), 0 0 6px rgba(250,255,250, 0.4);
  text-transform: uppercase;
}

body > header div {
  float:right;
}

body > header a {
  color: #b7d478;
}

body > footer{
  bottom: 0;
  height: 35px;
  text-align: center;
}

#main {
  background: #b7d478 url(../img/pew-bg.png) no-repeat bottom left;
  background-attachment: fixed;
/*background-position: -10%;*/
  color: #575;
  margin-bottom: 40px;
  margin-top: 40px;
  min-height: 400px;
  padding: 2em;
}

nav {
  clear: both;
  float: left;
  margin: 0;
  margin-top: 50px;
  position: fixed;
  width: 40%;
}

nav * {
  display: block;
  float: none;
  text-align: right;
}

nav a {
  border-radius: 4px;
  border-right: 3px solid transparent;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 0.2em;
  padding-right: 1.2em;
  text-decoration: none;
  text-shadow:  0px 0px 3px rgba(0,0,0,0.85), 0px 1px 1px rgba(0,0,0,1);
}

nav a:hover {
  background-color: rgba(0,0,0,0.3);
  border-right: 3px solid #f93;
}

code, pre {
  font-family: consolas;
  font-size: 90%;
}

.source-file {
  color: #357;
}

.filesystem {
  color: #222;
  font-weight: bold;
}

.class {
  color: #189;
  font-weight: bold;
}

.method {
  color: #e67;
  font-weight: bold;
}

.variable {
  color: #d93;
  font-weight: bold;
}

.string {
  color: #39d;
}

.keyword {
  color: #733;
}

.pewpewpew {
  color: #596;
  awesomesauce: activated!;
}

pre.php {
  background-color: #333;
  border-radius: 4px;
  color: #b7d478;
  margin: 0.8em auto;
}

pre.php c {
  color: #666;
}

pre.php b {
  color: #f93;
}

pre.php i {
  color: #ff6;
}

pre.php u {
  color: #39d;
  text-decoration: none;
}

pre.php s {
  color: #f3c;
  text-decoration: none;
}

pre.php q {
  color: #3df;
}

pre.php q:before,
pre.php q:after {
  content: '';
}
